<!-- nestkasten/templates/nestkasten/map.html -->
{% extends 'base.html' %}

{% load static %}

{% block css_files %}
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'nestkasten/styles/map.css' %}">
{% endblock css_files %}

{% block script_files_head %}
{% endblock script_files_head %}

{% block title %}Nestkasten{% endblock title %}

{% block content %}
  <div class="container">
    <div id="map" style="height: 600px; with:600px;"></div>
  </div>
{% endblock content %}

{% block script_files_bottom %}
  <script src="{% static 'nestkasten/scripts/map.js' %}" defer></script>
{% endblock script_files_bottom %}
  