<!-- chargestations/templates/chargestations/index -->

{% extends 'base.html' %}

{% load static %}

{% block css_files %}
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'chargestations/styles/index.css' %}">
{% endblock css_files %}

{% block script_files_head %}
{% endblock script_files_head %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <div class="container">
    <h1>{{ title }}</h1>
    <h3>Leaflet.js</h3>
    <!-- map -->
    <div id="map"></div>
    <!-- convert list of dictionaries to <script> containing json text using "|json_script" the "jsonscript templatetag"
      to make data available in frontend; to be used in javascript -->
    {{stations|json_script:"stations_json"}}
  </div>
{% endblock content %}

{% block script_files_bottom %}
  <!-- local JS -->
  <script src="{% static 'chargestations/scripts/index.js' %}" defer></script>
{% endblock script_files_bottom %}
  