<!-- templates/includes/navbar.html -->

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!-- buttons -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Linkerkant van de Navbar -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Home </a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'nestkasten:index' %}">Nestkasten</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'chargestations:index' %}">Chargestations</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'mushrooms:index' %}">Mushroomspots</a></li>
       <!-- Data menu -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Data
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'nestkasten:nestkasten-data' %}">Nestkasten-data</a></li>
          <li><a class="dropdown-item" href="{% url 'nestkasten:fourageergebieden-data' %}">Fourageergebieden-data</a></li>
          <li><a class="dropdown-item" href="{% url 'mushrooms:mushroomspots-data' %}">Mushroomspots-data</a></li>
        </ul>
      </li>
    </ul>
    <!-- Rechterkant van de Navbar -->
  </div>
</nav>
